.carousel-item {
    height: 600px;
  }
  .d-block {
    height: 100%;
    width: 100%;
  }
  .carousel-caption {
    top: 0;
    bottom: auto;
    font-style: italic;
    -webkit-text-fill-color: black;
  }