// Colores
$color-primario: #007bff;
$color-secundario: #6c757d;
$color-fondo: hsl(59, 93%, 78%);
$color-texto: #343a40;

//T amaños de fuente
$tamano-fuente-titulo: 24px;
$tamano-fuente-subtitulo: 18px;
$tamano-fuente-cuerpo: 16px;

// Márgenes y espaciado
$espaciado-pequeno: 10px;
$espaciado-mediano: 20px;
$espaciado-grande: 30px;

// Bordes
$borde-grosor: 2px;
$borde-radio: 5px;